<!DOCTYPE>
<html>
    <header>
        <title>New Story</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </header>
    <body>
        {% if not 'n' in session %}
        <nav>
            <a href='/home'>Login</a>
        </nav>
        <center> 
            You must be logged in to post a story
        </center>
        {% else %}
        <nav> 
          <center>
	    <button onclick="location.href='/'" class="navbar">Home</button>
            <button onclick="location.href='/newStory'" class="navbar">Submit New Story</button>
            <button onclick="location.href='/stories'" class="navbar">All Stories </button>
            <button onclick="location.href='/about'" class="navbar">About</button>
            <button onclick="location.href='/logout'" class="navbar">Logout</button>
            </center>
        </nav>
        <center>
            <br><br><br><br>
            <form method="POST">
                <ul>
                    <li>Story Title</li>
                    <li><input type="text" name="sTitle"></li><br>
                    <li>First line of Story</li>
                    <li><input type="textfield" name="entry" maxlength="100"></li><br>
                    <li><input type="submit" class="button" name="button" value="Submit"></li>
		            <li><font color="red" size="4">{{error}}</font></li>
                </ul>       
            </form>
        </center>
        {% endif %}
    </body>
</html>
