<!DOCTYPE>
<html>
    <head>
        <title>Stories</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        {% if 'n' in session %}
        <nav>
            <center>
                <button onclick="location.href='/'" class="navbar">Home</button>
                <button onclick="location.href='newStory'" class="navbar">Submit New Story</button>
                <button onclick="location.href='/stories'" class="navbar">All Stories </button>
                <button onclick="location.href='/about'" class="navbar">About</button>
                <button onclick="location.href='/logout'" class="navbar">Logout</button>
            </center>
        </nav>
        <center>
            <h1><b><font color='white'>All Stories</font></b></h1>
            <div class="stories">
                {{link}}
            </div>
        </center>
        {% else %}
        <nav>
            <a href="/home">Login</a>
        </nav>
        <center>
            You must be logged in to view stories
        </center>
        {% endif %}
    </body>
</html>
