body {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/static/back.jpg');
}

ul li {
    list-style-type: none;
    font-size: 30;
}

ul li input {
    padding: 5px;
    border-radius: 5px;
}

#reg {
    text-decoration:underline;
}

a {
    text-decoration:none;
}

a:link {
    color:#B3B3FD;
}

a:visited {
    color:#969299;
}

a:hover {
    color:#C3C5F6;

}

.icon {
    width:100%;
    height:auto%;
    max-width:300px;
}

input {
    display: inline-block;
    padding: 8px;
    border-radius:5px;
    background-color: Transparent;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}

.button:focus,
.button:hover,
.button:active { 
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
}

#title, 
#button {
    position:relative;
    left: 50%;
}

.navbar {
    display: inline-block;
    width:10%;
    padding: 8px;
    border-radius:5px;
    background-color: Transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    text-decoration: none;
}

.navbar:hover,
.navbar:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    background: #fff;
    color: #000;
    transition: all 0.5s ease-in;
}

.home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/static/homeback.jpg');
}

.bottom {
    position:absolute;
    margin-bottom:3.5%;
    bottom:0;
    left:43%;
}

.box {
    margin:2%;
    width:100px;
    border-radius:2px;
}

.rightT {
    color:white;
    position:fixed;
    top: 40%;
    right: 20%;
}

.rightI {
    color:white;
    position:fixed;
    top: 48.5%;
    right: 12%;
}

.leftT {
    color:white;
    position:fixed;
    top:40%;
    left: 12%;
}

.leftI {
    color:white;
    position:fixed;
    top:48.5%;
    left: 18%;
}

.errorL {
    position:fixed;
    top:68%;
    left:10.5%;
}

.errorR {
    position:fixed;
    top:70%;
    right:13.5%;
}

.navbar.homeNav {
    width:45%;
    margin-left:45%;
    margin-right:45%;
    margin:3%;
}

#rightfield {
    position:absolute;
    right:6%;
    margin:-1.5%;
}

.button {
    width:7%;
    padding:10px;
}

.center {
    position:absolute;
    top:25%;
    left:34%;
    width:30%;
    padding:10px;
}

.stories {
    margin-bottom:0;
    margin-right:25%;
    margin-left:25%;
    color:white;
}

.story {
    margin-bottom:30%;
    margin-right:25%;
    margin-left:25%;
    color:white;
}


#inputspace {
    position:relative;
    top:1%;
}

#inputspace2 {
    position:relative;
    top:1%;
}

